.random-planet {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 1rem;
  padding: 1rem;
  border: 1px solid #fff;
  border-radius: 10px;
}

.random-planet__image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet__title {
  font-size: 24px;
  margin: .5rem 0;
}

.random-planet__list {
  list-style: none;
  padding: 0;
  font-size: 16px;
}

.random-planet__item{
  padding: .25rem;
}

.random-planet__item .term {
  margin-right: .5rem;
}